.form_container{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    gap: 20px;
    max-width: 1080px;
}
.form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_group_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}
.form_topic{
    font-size: var(--textNormal);
    font-weight: bold;
    color: var(--mainColor2);
}
.form_input{
    font-size: var(--textNormal);
    color: rgb(119, 119, 119,0.46);
    border: 1px solid var(--mainColor2);
    border-radius: 5px;
    padding: 13px 19px;
    margin-top: 10px;
    white-space: pre-line;
}
.form_input::placeholder{
    color: 
    rgb(119, 119, 119,0.46);
}
.form_input::-webkit-calendar-picker-indicator{
    filter: invert(45%) sepia(0%) saturate(0%) brightness(70%) opacity(0.46);
    cursor: pointer;
}
.form_input:focus{
    outline: none;
    border: 1px solid var(--mainColor);
}

/* agree */
.agree_section{
    position: relative;
    width: 75%;
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    margin-top: 50px;
}
.agree_section li, .agree_section span{
    font-size: var(--textNormal);
    color: rgb(119, 119, 119,0.46);
}
.agree_section .hight_light{
    font-weight: bold;
    color: rgb(119, 119, 119 ,0.65);
    text-decoration: underline;
}
.agree_section input{
    margin-right: 10px;
}
.agree_section .agree_topic{
    color: var(--mainColor2);
}
.copy_container{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}
.agree_section .copy_container .copy{
    font-size: 14px;
    color: var(--mainColor2);
    text-decoration: underline;
}
.agree_section input{
    width: 17px;
    height: 17px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.errorBorder{
    border: 1.5px solid rgba(255, 0, 55, 0.4);
}
.errorText{
    color: rgba(255, 0, 55, 0.4);
    margin-left: 10px;
}

/* contact-btn */
.contact{
    position: relative;
    border: 1px solid var( --mainColor);
    height: 65px;
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 100px;
    /* opacity: 0; */
}
.contact span{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--mainColor);
    letter-spacing: 2px;
    z-index: 1;
}
.contactArrow{
    position: absolute;
    stroke:var(--mainColor);
    right: 7%;
}
.contact:hover .contactArrow{
    stroke:var(--background);
    animation: arrow 2s cubic-bezier(0.7, 0, 0.3, 1) infinite;
}
.contact:hover span{
    color: var(--background);
}
.contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: var(--mainColor);
}
.slideIn::before {
    animation: slideIn 0.5s cubic-bezier(0.8, 0, 0.2, 1) forwards;
}
  
.slideOut::before {
    animation: slideOut 0.5s cubic-bezier(0.8, 0, 0.2, 1) forwards;
}

@keyframes slideIn {
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@keyframes slideOut {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}

@keyframes arrow {
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    33%{
        transform: translateX(10px);
        opacity: 0;
    }
    66%{
        transform: translateX(-10px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* contact-btn */
.other_contact_container{
    width: max-content;
    margin: 0 auto;
    font-size: var(--textNormal);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.other_contact_topic{
    color: var(--mainColor);
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 17px;
}

.other_contact_text{
    text-align: center;
    color: var(--textGray);
    width: 600px;
}

.other_contact_btn{
    font-weight: bold;
    text-decoration: underline;
}

.other_contact_img_container{
    margin-top: 25px;
    display: flex;
    gap: 30%;
    align-items: center;
    justify-content: center;
}

/* Taplet SCREEN */
@media (max-width: 768px){
    .form_topic, .form_input{
        font-size: 14px;
    }
    .form_group_two{
        flex-direction: column;
        gap: 20px;
    }
    .form_textArea{
        height: 160px;
    }
  }
  
  /* Mobile SCREEN */
  @media (max-width: 480px){
    .form_topic, .form_input{
        font-size: 12px;
    }
    .form_textArea{
        height: 210px;
    }
  }